services:
  app:
    build: .
    container_name: simple_text_api
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app/src
    volumes:
      - app-data:/app/data

  prometheus:
    image: prom/prometheus:latest
    container_name: fastapi_text_api_prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
      - app

  loki:
    image: grafana/loki
    container_name: fastapi_text_api_loki
    ports: 
      - "3100:3100"
    command: -config.file=/etc/loki/config.yaml
    volumes:
      - ./loki.yml:/etc/loki/config.yaml:ro
    depends_on:
      - app

  promtail: 
    image: grafana/promtail:latest
    container_name: fastapi_text_api_promtail
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - ./promtail.yml:/etc/promtail/config.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - loki 
      - app 

  grafana:
    image: grafana/grafana:latest
    container_name: fastapi_text_api_grafana
    ports:
      - "3030:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
      - loki

volumes:
  app-data:
  grafana-storage:
